{% extends "desafio/base.html" %}

{% block contenido %}
<div class="container-fluid row justify-content-center">
    <div class="col-6">
        <h2 class="text-center">Registro de usuario</h2>
        <form action="" method="post" class="container-fluid form-control form-control-lg">{% csrf_token %}
            <table>
            {{ form.as_table}}
            </table>
            <input type="submit" value="Registrar" class="btn btn-primary justify-self-center">
        </form>
    </div>

</div>
{% endblock %}